@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");



.addloaduptagformcontainer label{
 color: var(--New-Black-color-Text, #585858);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: block;
}
.addloaduptagformcontainer input{
 color: var(--gray, #2D3748);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 9px;
border: 1px solid var(--Stroke-Color, #DDD);
background: rgba(217, 217, 217, 0.00);
padding:10px;
outline:none;
width: 100%;
height: 49px;
flex-shrink: 0;
}
.addloaduptagformcontainer textarea{
 width: 96%;
 height: 268px;
 flex-shrink: 0;
 border-radius: 10px;
border: 1px solid var(--Stroke-Color, #DDD);
background: #FFF;
color: var(--gray, #2D3748);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
outline: none;
padding: 10px;
margin-left: 15px;
margin-top: 15px;
}
.loaduppagebtn1{
 width: 158px;
height: 36px;
border-radius: 11px;
background: var(--priemery-color, #6AB716);
padding:5px 10px;
display: flex;
justify-content: center;
align-items: center;

}
.loaduppagebtn2{
 width: 158px;
height: 36px;
border-radius: 11px;
background: var(--priemery-color, #696969);
padding:5px 10px;
display: flex;
justify-content: center;
align-items: center;

}
.loaduppagebtn1 button,  .loaduppagebtn2 button {
 color: var(--Text-White, #FFF);

/* Medium text */
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
background-color: #0000;
border: none;
}

#loaduppageoverlay {
 width:100vw;
 position: fixed;
 display: none;
 opacity: 0.5;
 height: 100vh;
 background: rgba(81, 81, 81, 0.69);
 
 
}
.loaduppageoverlay{
 width: 100vw;
 height: 100vh;
 position:fixed;
background: rgba(81, 81, 81, 0.69);
    
    display:none;
}