@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

.selectcleintwrapper {
  width: 100%;
  margin: 0px auto 0;
  position: relative;
}

.selectcleintwrapperbtn,
li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.selectcleintwrapperbtn {
  height: 40px;
  padding: 0px 3px;
  font-size: 22px;
  border-radius: var(--8, 8px);
  border: 1px solid rgba(105, 105, 105, 0.30);
  background: #fff;
  justify-content: space-between;
}

.selectcleintwrapperbtn span {
  color: var(--New-Black-color-Text, #585858);
  font-family: Poppins;
  font-size: 12px;
  margin-left:5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.selectcleintwrapperbtn i {
  font-size: 31px;
  color: var(--New-Black-color-Text, #585858);
  transition: transform 0.3s linear;
}

.selectcleintwrapper.active .selectcleintwrapperbtn i {
  transform: rotate(-180deg);
  color: #fff;
}

.selectcleintwrappercontent {
  display: none;
  padding: 5px 0px;
  margin-top: 0px;
  border: 1px solid var(--Stroke-Color, #DDD);
  background: #FFF;
  border-radius: 7px;
  height: 300px;
  overflow-y: auto;
}

.selectcleintwrapper.active .selectcleintwrappercontent {
  display: block;
  position: absolute;
  width: 100%;


}

.selectcleintwrappercontent .selectcleintwrappersearch {
  position: relative;
}

.selectcleintwrappersearch i {
  top: 50%;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translate(50%, -50%);
  position: absolute;
}

.selectcleintwrappersearch input {
  width: 96% !important;
  height: 40px;
  outline: none;
  margin-left: 15px;
  font-size: 17px;
  border-radius: 6px;
  color: var(--Black-Color, #383838);
  border: 2px solid var(--Stroke-Color, #DDD) !important;
  background: rgba(217, 217, 217, 0.00);
}

.selectcleintwrappersearch input:focus {
  padding-left: 42px;
  border: 2px solid var(--Stroke-Color, #DDD);
  color: var(--Black-Color, #383838);
}

.selectcleintwrappercontent .selectcleintwrapperoptions {
  margin-top: 10px;
  overflow-y: auto;
  padding-left: 0px !important;
}

.selectcleintwrappercontent .selectcleintwrapperoptions li {
  color: var(--gray, #2D3748);
  font-family: Poppins;
  font-size: 14px;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0px !important;
}

.selectcleintwrappercontent .selectcleintwrapperoptions li:hover {
  background-color: #6AB716;
  color: white;
}

.selectcleintwrapperoptions::-webkit-scrollbar {
  width: 14px;
  height: 170px;
}

.selectcleintwrapperoptions::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.selectcleintwrapperoptions::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #C1C1C1;
}

.selectcleintwrapperoptions::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.selectcleintwrapperoptions li {
  margin: 0px;
  font-size: 21px;
}


